<h1><%= @merchant.name %></h1>

<b>Transactions at this merchant</b>
  <% trans = @merchant.transactions %>
  <% for tran in trans %>
    <p>Amount: <%= tran.amount %></p>
    <p>on <%= tran.tag['name'] %></p>
    <p><a href="/transactions/<%=tran.id%>">View Transaction</a></p>
    <hr>
  <% end %>
  
  <b>Total Spent at <%= @merchant.name %>: £<%= @analysis.total_by_transactions(trans) %></b>

  <a href="/merchants/<%=@merchant.id%>/edit">Edit</a>
  