<h1>Transactions for <%= @tag.name %></h1>
<a href="/transactions" class="showtext">Return to all transactions</a>

<hr>
<table>
  <tr>
    <th>Merchant Name</th>
    <th>Amount</th>
    <th></th>
  </tr>

    <% for transaction in @transactions  %>
      <tr>
        <td><%= transaction.merchants['name'] %></td>
        <td><%= transaction.amount %></td>
        <td><a href="/transactions/<%= transaction.id%>">View</a></td>
      </tr>
    <% end %>
</table>

<b>Total spent on <%= @tag.name %>: £<%= @analysis.total_by_transactions(@transactions)  %></b>



<p class="tagshowtext"><a href="/tags">Search again</a></p>
<p class="showtext"><a href="/tags/<%= params['id'] %>/edit">Edit Tag</a></p>
<form action="/tags/<%= params['id'] %>/delete" method="post" class="showtext">
  <input type="submit" value="Delete">
</form>
