<h1>Analysis of budget</h1>

<b>Current Balance</b>
<p class="showtext">£ <%= "%.2f" % @account.balance %></p>
<p class="showtext"><a href="/accounts">Update Balance</a></p>
<b>Total of all Transactions:</b>
<p class="showtext">£<%= "%.2f" % @analysis.total_all_transactions().round(2) %></p>
<b>Remaining Budget</b>
<p class="showtext">£<%= "%.2f" % (@account.balance - @analysis.total_all_transactions()).round(2) %></p>

<b>Percentage of budget spent:</b>
<p class="showtext"><%= @analysis.total_percentage(@account).round(2) %>%</p>

<hr>

<table>
  <tr>
    <th colspan="3">Breakdown by tag</th>
  </tr>
  <tr>
    <th>Tag</th>
    <th>Amount</th>
    <th>Percentage of Budget</th>
  </tr>

 <% for tag in @tags %>
  <tr>
   <td><%= tag.name %></td>
    <% transactions = tag.transactions() %>
    <td> £<%= "%.2f" % @analysis.total_by_transactions(transactions).round(2) %></td>
    <td><%= @analysis.tag_as_percentage(@account, tag.id).round(2) %>%</td>
  </tr>
<% end %>
</table>