<b>Edit Transaction</b>


<form action="/transactions/<%= @transaction.id %>" method="post" class="editform">
  <label for="amount">Amount:</label>
  <input type="float(2)" name="amount" value="<%= @transaction.amount %>">

  <label for="tag">Tag:</label>
    <select name="tag_id">
      <% for tag in @tags %>
        <option value="<%= tag.id %>" <%= 'selected' if tag.id  == @transaction.tag_id %>><%= tag.name %></option>
        <% end %>
      
    </select>

  <label for="merchant_id">Merchant:</label>
    <select name="merchant_id">
      <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"  <%= 'selected' if merchant.id == @transaction.merchant_id %>> <%= merchant.name %> </option>
        <% end %>
      
    </select>

    <input type="submit" value="Update Transaction">

</form>

