<h1>Transactions</h1>
<p><a href="/transactions/new">Create New Transaction</a></p>
<p><a href="/transactions/tag/new">Search By Tag</a></p>

<hr>

<% for transaction in @transactions  %>
  <b>Merchant Name: </b>
  <p><%= transaction.merchants['name'] %></p>
  <b>Amount:</b>
  <p><%= transaction.amount %></p>
  <b>Tag:</b>
  <p><%= transaction.tag %></p>
  <a href="/transactions/<%= transaction.id%>">View</a>
  <hr>
<% end %>

<b>Current Total:</b>
<p>£<%= @analysis.total_all_transactions() %></p>