<h1 class="headertitle">Transactions</h1>
<div class="transactionsheader"><p><a href="/transactions/new">Create New Transaction</a>       <a href="/tags">Search By Tag</a></p></div>

<hr>

<table>
  <tr>
    <th>Merchant Name</th>
    <th>Amount</th>
    <th>Tag</th>
    <th></th>
  </tr>

  <% for transaction in @transactions  %>
    <tr>
      <td><%= transaction.merchants['name'] %></td>
      <td>£<%= "%.2f" %transaction.amount %></td>
      <td><%= transaction.tag['name'] %></td>
      <td><a href="/transactions/<%= transaction.id%>">View</a></td>
    </tr>
  <% end %>

</table>

<hr>
<b>Current Total: £<%= "%.2f" % @analysis.total_all_transactions().round(2) %></b>
