<b>Transaction</b>

<p></p>
<b>Merchant Name:</b>
<p class="showtext"><%= @transaction.merchants['name'] %></p>
<b>Tag:</b>
<p class="showtext"><%= @transaction.tag['name'] %></p>
<b>Amount:</b>
<p class="showtext"><%= @transaction.amount %></p>

<div class="showdiv">
<p><a href="/merchants/<%= @transaction.merchant_id%>">Go To Merchant</a>
<a href="/transactions/<%= @transaction.id%>/edit ">Edit</a></p>
<form action="/transactions/<%= @transaction.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

</div>

